Repository mariomuja/interface-configurator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

build:dotnet:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: build
  ...

build:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: build
  image: node:${NODE_VERSION}
  before_script:
  - echo "Installing Node.js dependencies..."
  - cd $FRONTEND_PATH
  - npm ci
  script:
  - echo "Building Angular frontend..."
  ...

test:dotnet:unit:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: test
  ...

test:dotnet:integration:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: test
  ...

test:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: test
  image: node:${NODE_VERSION}
  dependencies:
  - build:frontend
  before_script:
  - cd $FRONTEND_PATH
  - npm ci
  script:
  - echo "Running frontend tests..."
  - npm test
  ...

test:playwright:
  stage: test
  image: node:${NODE_VERSION}
  dependencies:
  - build:frontend
  variables:
    CI: 'true'
  before_script:
  - echo "Installing Node.js dependencies..."
  - npm ci
  - echo "Installing Playwright browsers and system dependencies..."
  - npx playwright install --with-deps chromium firefox webkit
  ...

lint:dotnet:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: test
  ...

lint:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: test
  image: node:${NODE_VERSION}
  before_script:
  - cd $FRONTEND_PATH
  - npm ci
  script:
  - echo "Running frontend linting..."
  - npm run lint || true
  - echo "Linting completed"
  ...

fix: resolve remaining expression tree optional argument errors in test mocks
  adapters/bin/Release/net8.0/adapters.dll
  adapters/bin/Release/net8.0/adapters.pdb
  adapters/bin/Release/net8.0/main.Core.dll
  adapters/bin/Release/net8.0/main.Core.pdb
  adapters/obj/Release/net8.0/adapters.AssemblyInfo.cs
  adapters/obj/Release/net8.0/adapters.AssemblyInfoInputs.cache
  adapters/obj/Release/net8.0/adapters.csproj.AssemblyReference.cache
  adapters/obj/Release/net8.0/adapters.dll
  adapters/obj/Release/net8.0/adapters.pdb
  adapters/obj/Release/net8.0/adapters.sourcelink.json
  adapters/obj/Release/net8.0/ref/adapters.dll
  adapters/obj/Release/net8.0/refint/adapters.dll
  main.Core/bin/Release/net8.0/main.Core.dll
  main.Core/bin/Release/net8.0/main.Core.pdb
  main.Core/obj/Release/net8.0/main.Core.AssemblyInfo.cs
  main.Core/obj/Release/net8.0/main.Core.AssemblyInfoInputs.cache
  main.Core/obj/Release/net8.0/main.Core.dll
  main.Core/obj/Release/net8.0/main.Core.pdb
  main.Core/obj/Release/net8.0/main.Core.sourcelink.json
  main.Core/obj/Release/net8.0/ref/main.Core.dll
  main.Core/obj/Release/net8.0/refint/main.Core.dll
  services/bin/Debug/net8.0/main.Core.dll
  services/bin/Debug/net8.0/main.Core.pdb
  services/bin/Debug/net8.0/services.dll
  services/bin/Debug/net8.0/services.pdb
  services/obj/Debug/net8.0/ref/services.dll
  services/obj/Debug/net8.0/refint/services.dll
  services/obj/Debug/net8.0/services.AssemblyInfo.cs
  services/obj/Debug/net8.0/services.AssemblyInfoInputs.cache
  services/obj/Debug/net8.0/services.csproj.AssemblyReference.cache
  services/obj/Debug/net8.0/services.dll
  services/obj/Debug/net8.0/services.pdb
  services/obj/Debug/net8.0/services.sourcelink.json
  tests/main.Core.Tests/Functions/GetSqlDataTests.cs
  tests/main.Core.Tests/Functions/LoginTests.cs
  tests/main.Core.Tests/obj/Release/net8.0/main.Core.Tests.AssemblyInfo.cs
  tests/main.Core.Tests/obj/Release/net8.0/main.Core.Tests.AssemblyInfoInputs.cache
  tests/main.Core.Tests/obj/Release/net8.0/main.Core.Tests.csproj.AssemblyReference.cache
  tests/main.Core.Tests/obj/Release/net8.0/main.Core.Tests.sourcelink.json
Due: build:dotnet, test:dotnet:unit, test:dotnet:integration, lint:dotnet

feat: add adapter container image build and push to Azure Container Registry after successful tests
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: improve ACR URL handling for adapter container build
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

feat: add email notification job that sends failure emails only to the commit author of ready branches
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

ci: clean .gitlab-ci.yml to remove control characters
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

feat: add GitLab CI job to push commits to GitHub and remove GitHub Actions sync workflow
  .github/workflows/sync-to-gitlab.yml
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

test: verify GitHub sync from GitLab
  .github-sync-test-20251130-135418.txt
Due: none

feat: add auto version bump job to GitLab CI pipeline
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: resolve YAML syntax error in notify:email:on-failure job
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: use heredoc for multi-line MESSAGE variable to resolve YAML parsing error
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: use printf instead of heredoc for MESSAGE variable to avoid YAML parsing
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

refactor: rename test:playwright to test:e2e for clarity
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: resolve CS0854 expression tree errors in test files
  tests/main.Core.Tests/Functions/GetSqlDataTests.cs
  tests/main.Core.Tests/Functions/LoginTests.cs
Due: test:dotnet:unit, test:dotnet:integration

fix: remove --no-build from integration test job
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: use default(CancellationToken) instead of It.IsAny to resolve CS0854 errors
  tests/main.Core.Tests/Functions/GetSqlDataTests.cs
  tests/main.Core.Tests/Functions/LoginTests.cs
Due: test:dotnet:unit, test:dotnet:integration

fix: resolve compiler warnings across codebase
  adapters/AdapterBase.cs
  adapters/CrmAdapter.cs
  adapters/CsvAdapter.cs
  adapters/Dynamics365Adapter.cs
  adapters/FileAdapter.cs
  adapters/HttpClientAdapterBase.cs
  adapters/SapAdapter.cs
  adapters/SftpAdapter.cs
  adapters/SqlServerAdapter.cs
  azure-functions/main/Services/AdapterFactory.cs
  azure-functions/main/Services/AutoFixService.cs
  azure-functions/main/Services/AutoTestService.cs
  azure-functions/main/Services/DataServiceAdapter.cs
  main.Core/Services/AdaptiveBatchingService.cs
  main.Core/Services/DeadLetterRecoveryService.cs
  main.Core/Services/MessageTrackingService.cs
  main.Core/Services/ServiceBusService.cs
  scripts/configure-gitlab-variables.ps1
  scripts/test-github-sync.ps1
  services/DataServiceAdapter.cs
  tests/main.Core.Tests/Adapters/SqlServerAdapterEdgeCasesTests.cs
  tests/main.Core.Tests/Services/AIErrorAnalysisServiceTests.cs
Due: build:dotnet, test:dotnet:unit, test:dotnet:integration, lint:dotnet

fix: remove WriteStringAsync mock setup to resolve CS0854 errors
  tests/main.Core.Tests/Functions/GetSqlDataTests.cs
  tests/main.Core.Tests/Functions/LoginTests.cs
Due: test:dotnet:unit, test:dotnet:integration

fix: suppress compiler warnings with pragma directives
  azure-functions/main/Program.cs
  azure-functions/main/Services/AdapterFactory.cs
  azure-functions/main/Services/DataServiceAdapter.cs
  azure-functions/main/Services/DataServiceAdapterV2.cs
  tests/main.Core.Tests/Adapters/SqlServerAdapterEdgeCasesTests.cs
  tests/main.Core.Tests/Functions/SourceAdapterFunctionTests.cs
  tests/main.Core.Tests/Services/AdapterFactoryTests.cs
  tests/main.Core.Tests/Services/InterfaceConfigurationServiceTests.cs
Due: build:dotnet, test:dotnet:unit, test:dotnet:integration, lint:dotnet

fix: ensure test-results directory exists and fix coverage file path
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: change notify:email:on-failure to not allow failures and fix permission errors
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: configure Playwright tests properly - add @playwright/test dependency, fix path separators, add JUnit reporter, ensure test-results directory exists
  .gitlab-ci.yml
  package-lock.json
  package.json
  playwright.config.ts
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

ci: add build:dotnet to test:sql-server needs dependencies
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

ci: add build:dotnet to needs for all post-deploy test jobs
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: resolve compilation errors in integration tests
  tests/main.Core.Tests/Integration/AdapterPipelineIntegrationTests.cs
  tests/main.Core.Tests/Integration/BlobStorageIntegrationTests.cs
  tests/main.Core.Tests/Integration/ContainerRegistryIntegrationTests.cs
  tests/main.Core.Tests/Integration/ServiceBusIntegrationTests.cs
Due: test:dotnet:unit, test:dotnet:integration

fix: correct BlobUploadOptions usage - delete before upload instead of overwrite parameter
  tests/main.Core.Tests/Integration/BlobStorageIntegrationTests.cs
Due: test:dotnet:unit, test:dotnet:integration

fix: replace remaining _logger reference with _serviceBusLogger in AdapterPipelineIntegrationTests
  tests/main.Core.Tests/Integration/AdapterPipelineIntegrationTests.cs
Due: test:dotnet:unit, test:dotnet:integration

ci: make build:dotnet always run on ready/* and main branches
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: resolve compilation errors and async method warnings
  adapters/FileAdapter.cs
  azure-functions/main/Bootstrap.cs
  azure-functions/main/HealthCheck.cs
  azure-functions/main/Services/ServiceBusReceiverCache.cs
  tests/main.Core.Tests/Services/BatchProcessingServiceTests.cs
Due: build:dotnet, test:dotnet:unit, test:dotnet:integration, lint:dotnet

ci: enable post-deployment tests on ready/* branches
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: correct return type in BatchProcessingServiceTests and remove async from CheckFunctionAppConfigurationAsync
  azure-functions/main/Bootstrap.cs
  tests/main.Core.Tests/Services/BatchProcessingServiceTests.cs
Due: build:dotnet, test:dotnet:unit, test:dotnet:integration, lint:dotnet

fix: accept 503 status code in Azure Functions health check test
  tests/end-to-end/azure-functions.spec.ts
Due: test:dotnet:unit, test:dotnet:integration, test:playwright

fix: correct return type in BatchProcessingServiceTests to Task<List<string>>
  tests/main.Core.Tests/Services/BatchProcessingServiceTests.cs
Due: test:dotnet:unit, test:dotnet:integration

refactor: remove generic integration test job, ensure each service has separate job
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: remove all references to deleted test:dotnet:integration job
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

feat: add mutation testing job using Stryker.NET
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: correct YAML structure in test:mutation script section
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: convert multi-line script block to single line in test:mutation
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

fix: remove dependencies and fix command syntax in test:mutation
  .gitlab-ci.yml
Due: build:dotnet, build:frontend, test:dotnet:unit, test:dotnet:integration, test:frontend, test:playwright, lint:dotnet, lint:frontend

Path conditions:
  build:dotnet: any of: azure-functions/**/*, main.Core/**/*, adapters/**/*, services/**/*, .gitlab-ci.yml
  build:frontend: any of: frontend/**/*, package.json, package-lock.json, .gitlab-ci.yml
  test:dotnet:unit: any of: tests/**/*, main.Core/**/*, azure-functions/**/*, adapters/**/*, .gitlab-ci.yml
  test:dotnet:integration: any of: tests/**/*, main.Core/**/*, azure-functions/**/*, adapters/**/*, .gitlab-ci.yml
  test:frontend: any of: frontend/**/*, package.json, package-lock.json, .gitlab-ci.yml
  test:playwright: any of: tests/end-to-end/**/*, playwright.config.ts, package.json, package-lock.json, frontend/**/*, .gitlab-ci.yml
  lint:dotnet: any of: azure-functions/**/*.cs, main.Core/**/*.cs, adapters/**/*.cs, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*.ts, frontend/**/*.html, .gitlab-ci.yml
