Repository mariomuja/interface-configurator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

build:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: build
  image: node:${NODE_VERSION}
  before_script:
  - echo "Installing Node.js dependencies..."
  - cd $FRONTEND_PATH
  - npm ci
  script:
  - echo "Building Angular frontend..."
  ...

test:dotnet:unit:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: test
  ...

test:mutation:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: test
  ...

test:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: test
  image: node:${NODE_VERSION}
  dependencies:
  - build:frontend
  before_script:
  - cd $FRONTEND_PATH
  - npm ci
  script:
  - echo "Running frontend tests..."
  - npm test
  ...

test:e2e:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: test
  image: node:${NODE_VERSION}
  dependencies:
  - build:frontend
  variables:
    CI: 'true'
  before_script:
  - echo "Installing Node.js dependencies..."
  - npm ci
  ...

package:adapter-containers:
  stage: package
  image: docker:24
  services:
  - docker:24-dind
  dependencies:
  - build:dotnet
  - test:dotnet:unit
  variables:
    DOCKER_TLS_CERTDIR: /certs
    DOCKER_DRIVER: overlay2
  before_script:
  - echo "Setting up Docker and Azure Container Registry..."
  - apk add --no-cache curl bash
  ...

lint:dotnet:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-dotnet
    paths:
    - .nuget/
    - azure-functions/**/bin/
    - azure-functions/**/obj/
    - main.Core/**/bin/
    - main.Core/**/obj/
    - adapters/**/bin/
    - adapters/**/obj/
    - services/**/bin/
    - services/**/obj/
    - tests/**/bin/
    - tests/**/obj/
  stage: test
  ...

lint:frontend:
  cache:
    key: ${CI_COMMIT_REF_SLUG}-node
    paths:
    - frontend/node_modules/
    - node_modules/
    - api/node_modules/
  stage: test
  image: node:${NODE_VERSION}
  before_script:
  - cd $FRONTEND_PATH
  - npm ci
  script:
  - echo "Running frontend linting..."
  - npm run lint || true
  - echo "Linting completed"
  ...

fix: simplify test:mutation script to single-line commands only
  .gitlab-ci.yml
Due: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

fix: simplify test:mutation script to minimal commands
  .gitlab-ci.yml
Due: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

fix: update Playwright tests for static web app
  tests/end-to-end/static-web-app.spec.ts
Due: test:dotnet:unit, test:e2e

fix: install all Playwright browsers in static web app test job
  .gitlab-ci.yml
Due: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

fix: add JunitXml.TestLogger package for JUnit test reports
  tests/main.Core.Tests/main.Core.Tests.csproj
Due: test:dotnet:unit, test:mutation

fix: change JUnit logger name from junit to JunitXml
  .gitlab-ci.yml
Due: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

fix: update JunitXml.TestLogger to version 3.1.12 to match resolved version
  tests/main.Core.Tests/main.Core.Tests.csproj
Due: test:dotnet:unit, test:mutation

fix: update Azure Functions E2E tests to accept 500/503 status codes
  tests/end-to-end/azure-functions.spec.ts
Due: test:dotnet:unit, test:e2e

refactor: use isAcceptableStatus helper in beforeAll and HealthCheck test
  tests/end-to-end/azure-functions.spec.ts
Due: test:dotnet:unit, test:e2e

fix: improve ErrorAnalysisService error classification and fix generation
  azure-functions/main/Services/ErrorAnalysisService.cs
Due: test:dotnet:unit, lint:dotnet

Add Jenkins pipeline and Dockerized Jenkins setup
  Jenkinsfile
  jenkins/Dockerfile
  jenkins/admin-pass.txt
  jenkins/docker-compose.yml
  jenkins/jenkins.yml
  jenkins/sp-jenkins.json
Due: none

Remove local secrets from Jenkins folder
  jenkins/admin-pass.txt
  jenkins/sp-jenkins.json
Due: none

Stop tracking local.settings.json and local test outputs
  .gitignore
  tests/main.Core.Tests/bin/Release/net8.0/local.settings.json
Due: test:dotnet:unit, test:mutation

Fix Jenkinsfile: Remove Docker Pipeline plugin dependency, use docker run instead
  Jenkinsfile
Due: none

Fix Jenkinsfile: Use full path to docker command
  Jenkinsfile
Due: none

Delete .github/workflows/deploy-functions.yml
  .github/workflows/deploy-functions.yml
Due: none

Delete .github/workflows directory
  .github/workflows/README.md
  .github/workflows/diagnose-functions.yml
  .github/workflows/sync-to-gitlab.yml
  .github/workflows/version-bump.yml
Due: none

test: trigger Jenkins pipeline
  Jenkinsfile
Due: none

test: verify periodic scanning triggers Jenkins automatically
  Jenkinsfile
Due: none

debug: add logging to diagnose solution file path issue
  Jenkinsfile
Due: none

fix: use absolute path for solution file in Docker container
  Jenkinsfile
Due: none

fix: use absolute paths for all solution and project files in Docker containers
  Jenkinsfile
Due: none

debug: add more detailed logging to diagnose Docker volume mount issue
  Jenkinsfile
Due: none

fix: use --volumes-from to share Jenkins container volumes with build containers
  Jenkinsfile
Due: none

Fix NuGet package cache issue and update to latest .NET 8 SDK
  .gitignore
  jenkins/scripts/build-dotnet.sh
  jenkins/scripts/deploy-function-app.sh
  jenkins/scripts/package-dotnet.sh
  jenkins/scripts/test-dotnet-unit.sh
Due: none

docs: Add testing improvements analysis document
  TESTING_IMPROVEMENTS.md
Due: none

Checkpoint before follow-up message
  .gitlab-ci.yml
  e2e/example.spec.ts
  frontend/karma.conf.js
  frontend/src/app/components/adapter-settings/base-adapter-settings.component.spec.ts
  frontend/src/app/components/adapter-settings/csv-adapter-settings.component.spec.ts
  frontend/src/app/components/add-interface-dialog/add-interface-dialog.component.spec.ts
  frontend/src/app/components/login/login-dialog.component.spec.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/feature.service.spec.ts
  frontend/src/app/services/global-error-handler.service.spec.ts
  frontend/src/app/services/session.service.spec.ts
  frontend/src/app/services/version.service.spec.ts
  playwright.config.ts
  tests/main.Core.Tests/Interfaces/ProcessingResultTests.cs.bak
  tests/main.Core.Tests/Processors/CsvProcessorTests.cs.bak
  tests/main.Core.Tests/Services/CsvColumnAnalyzerTests.cs.bak
  tests/main.Core.Tests/Services/CsvProcessingServiceTests.cs.bak
  tests/main.Core.Tests/Services/DataServiceAdapterTests.cs.bak
  tests/main.Core.Tests/Services/LoggingServiceAdapterTests.cs.bak
  tests/main.Core.Tests/Services/LoggingServiceTests.cs.bak
  tests/main.Core.Tests/Services/TypeValidatorTests.cs.bak
Due: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

feat: Implement comprehensive testing suite and Playwright E2E
  TESTING_IMPROVEMENTS_COMPLETED.md
  e2e/auth.spec.ts
  e2e/navigation.spec.ts
  frontend/package.json
  frontend/src/app/components/adapter-settings/crm-adapter-settings.component.spec.ts
  frontend/src/app/components/adapter-settings/dynamics365-adapter-settings.component.spec.ts
  frontend/src/app/components/adapter-settings/sap-adapter-settings.component.spec.ts
  frontend/src/app/components/adapter-settings/sql-server-adapter-settings.component.spec.ts
  frontend/src/app/components/adapter-wizard/adapter-wizard.component.spec.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

Refactor: Update CI and documentation for testing
  .gitlab-ci.yml
  README.md
  TESTING_IMPROVEMENTS.md
  TESTING_IMPROVEMENTS_COMPLETED.md
Due: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

feat: Document remaining testing improvements
  TESTING_IMPROVEMENTS_REMAINING.md
Due: none

Refactor: Remove feature flags and add component tests
  TESTING_AND_FEATURE_REMOVAL_COMPLETE.md
  frontend/src/app/app.component.ts
  frontend/src/app/components/adapter-select-dialog/adapter-select-dialog.component.spec.ts
  frontend/src/app/components/blob-container-explorer-dialog/blob-container-explorer-dialog.component.spec.ts
  frontend/src/app/components/container-app-progress-dialog/container-app-progress-dialog.component.spec.ts
  frontend/src/app/components/csv-validation-results/csv-validation-results.component.spec.ts
  frontend/src/app/components/destination-instances-dialog/destination-instances-dialog.component.spec.ts
  frontend/src/app/components/features/features-dialog.component.ts
  frontend/src/app/components/login/login-dialog.component.ts
  frontend/src/app/components/schema-comparison/schema-comparison.component.spec.ts
  frontend/src/app/components/service-bus-message-dialog/service-bus-message-dialog.component.spec.ts
  frontend/src/app/components/sql-schema-preview/sql-schema-preview.component.spec.ts
  frontend/src/app/components/statistics-dashboard/statistics-dashboard.component.spec.ts
  frontend/src/app/components/transport/transport.component.ts
  frontend/src/app/components/welcome-dialog/welcome-dialog.component.spec.ts
  frontend/src/app/services/feature.service.spec.ts
  frontend/src/app/services/feature.service.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

feat: Document remaining test improvements
  TESTING_REMAINING_IMPROVEMENTS.md
Due: none

feat: Add comprehensive tests and edge case handling
  TESTING_COMPREHENSIVE_IMPROVEMENTS_COMPLETE.md
  e2e/adapter-configuration.spec.ts
  e2e/dialog-interactions.spec.ts
  e2e/transport-flow.spec.ts
  frontend/src/app/components/adapter-select-dialog/adapter-select-dialog.component.spec.ts
  frontend/src/app/components/adapter-wizard/adapter-wizard.component.spec.ts
  frontend/src/app/components/add-interface-dialog/add-interface-dialog.component.spec.ts
  frontend/src/app/components/blob-container-explorer-dialog/blob-container-explorer-dialog.component.spec.ts
  frontend/src/app/components/container-app-progress-dialog/container-app-progress-dialog.component.spec.ts
  frontend/src/app/components/csv-validation-results/csv-validation-results.component.spec.ts
  frontend/src/app/components/destination-instances-dialog/destination-instances-dialog.component.spec.ts
  frontend/src/app/components/login/login-dialog.component.spec.ts
  frontend/src/app/components/schema-comparison/schema-comparison.component.spec.ts
  frontend/src/app/components/sql-schema-preview/sql-schema-preview.component.spec.ts
  frontend/src/app/components/statistics-dashboard/statistics-dashboard.component.spec.ts
  frontend/src/app/services/auth.service.spec.ts
  frontend/src/app/services/transport.service.spec.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

Refactor: Enhance testing infrastructure and coverage
  FURTHER_TEST_IMPROVEMENTS_COMPLETE.md
  e2e/accessibility.spec.ts
  e2e/integration-workflows.spec.ts
  frontend/src/app/decorators/track-function.decorator.spec.ts
  frontend/src/app/services/session.service.spec.ts
  frontend/src/app/services/translation.service.spec.ts
  frontend/src/app/services/version.service.spec.ts
  frontend/src/app/testing/integration-test-helpers.ts
  frontend/src/app/testing/mock-data-factory.ts
  frontend/src/app/testing/performance-test-helpers.ts
  frontend/src/app/testing/test-utils.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

feat: Add comprehensive testing utilities and documentation
  ADDITIONAL_TEST_IMPROVEMENTS_COMPLETE.md
  TESTING_GUIDE.md
  frontend/src/app/app.routes.spec.ts
  frontend/src/app/interceptors/http-error.interceptor.spec.ts
  frontend/src/app/models/adapter-wizard.model.spec.ts
  frontend/src/app/models/data.model.spec.ts
  frontend/src/app/testing/component-interaction-helpers.ts
  frontend/src/app/testing/component-lifecycle-helpers.ts
  frontend/src/app/testing/router-test-helpers.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

feat: Implement comprehensive test improvements
  FINAL_TEST_IMPROVEMENTS_COMPLETE.md
  e2e/comprehensive-scenarios.spec.ts
  frontend/karma.conf.js
  frontend/src/app/testing/snapshot-helpers.ts
  frontend/src/app/testing/test-data-builders.ts
  frontend/src/app/testing/test-fixtures.ts
  frontend/src/app/testing/test-isolation-helpers.ts
  frontend/src/app/testing/test-performance-config.ts
  frontend/src/app/testing/test-reporting-helpers.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

feat: Implement comprehensive test suite improvements
  ULTIMATE_TEST_IMPROVEMENTS_COMPLETE.md
  e2e/visual-regression.spec.ts
  frontend/src/app/testing/edge-case-generators.ts
  frontend/src/app/testing/mock-server-helpers.ts
  frontend/src/app/testing/test-debugging-helpers.ts
  frontend/src/app/testing/test-metrics.ts
  frontend/src/app/testing/test-retry-strategies.ts
  frontend/src/app/testing/visual-regression-helpers.ts
  playwright.config.ts
Due: build:frontend, test:frontend, test:e2e, lint:frontend

feat: Add comprehensive test utilities and CI scripts
  COMPREHENSIVE_TEST_IMPROVEMENTS_FINAL.md
  frontend/src/app/testing/coverage-visualization.ts
  frontend/src/app/testing/test-comparison-utilities.ts
  frontend/src/app/testing/test-data-seeding.ts
  frontend/src/app/testing/test-environment-config.ts
  frontend/src/app/testing/test-flakiness-detector.ts
  scripts/test-ci.ps1
  scripts/test-ci.sh
Due: build:frontend, test:frontend, test:e2e, lint:frontend

feat: Add comprehensive testing documentation and status files
  TESTING_QUICK_START.md
  TESTING_STATUS.md
  TEST_IMPROVEMENTS_COMPLETE_SUMMARY.md
Due: none

Path conditions:
  build:frontend: any of: frontend/**/*, package.json, package-lock.json, .gitlab-ci.yml
  test:dotnet:unit: any of: tests/**/*, main.Core/**/*, azure-functions/**/*, adapters/**/*, .gitlab-ci.yml
  test:mutation: any of: main.Core/**/*, tests/main.Core.Tests/**/*, .gitlab-ci.yml
  test:frontend: any of: frontend/**/*, package.json, package-lock.json, .gitlab-ci.yml
  test:e2e: any of: tests/end-to-end/**/*, playwright.config.ts, package.json, package-lock.json, frontend/**/*, .gitlab-ci.yml
  package:adapter-containers: any of: adapters/**/*, main.Core/**/*, docker/**/*, .gitlab-ci.yml
  lint:dotnet: any of: azure-functions/**/*.cs, main.Core/**/*.cs, adapters/**/*.cs, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*.ts, frontend/**/*.html, .gitlab-ci.yml
