Repository mariomuja/interface-configurator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:frontend, test:dotnet:unit, test:mutation, test:frontend, test:e2e, package:adapter-containers, lint:dotnet, lint:frontend

Path conditions:
  build:frontend: any of: frontend/**/*, package.json, package-lock.json, .gitlab-ci.yml
  test:dotnet:unit: any of: tests/**/*, main.Core/**/*, azure-functions/**/*, adapters/**/*, .gitlab-ci.yml
  test:mutation: any of: main.Core/**/*, tests/main.Core.Tests/**/*, .gitlab-ci.yml
  test:frontend: any of: frontend/**/*, package.json, package-lock.json, .gitlab-ci.yml
  test:e2e: any of: tests/end-to-end/**/*, playwright.config.ts, package.json, package-lock.json, frontend/**/*, .gitlab-ci.yml
  package:adapter-containers: any of: adapters/**/*, main.Core/**/*, docker/**/*, .gitlab-ci.yml
  lint:dotnet: any of: azure-functions/**/*.cs, main.Core/**/*.cs, adapters/**/*.cs, .gitlab-ci.yml
  lint:frontend: any of: frontend/**/*.ts, frontend/**/*.html, .gitlab-ci.yml

feat: Add Jenkins pipelines and documentation
  Jenkinsfile
  Jenkinsfile.multibranch
  jenkins/JENKINS_PIPELINE_GUIDE.md
  jenkins/Jenkinsfile.simple
  jenkins/README.md
  jenkins/docker-agent/Dockerfile
  jenkins/stages-config.groovy
Due: none

Refactor: Consolidate Jenkins pipeline stages
  jenkins/Jenkinsfile.using-stages
  jenkins/USAGE_EXAMPLES.md
  jenkins/example-pipelines.md
  jenkins/stages-config.groovy
Due: none

Refactor: Consolidate Jenkinsfile and improve pipeline stages
  Jenkinsfile
  Jenkinsfile.multibranch
  jenkins/JENKINS_SETUP.md
  jenkins/README.md
Due: none

feat: Restrict pipeline to branches starting with ready/
  Jenkinsfile
  jenkins/BRANCH_NAMING.md
  jenkins/JENKINS_SETUP.md
  jenkins/README.md
Due: none

Fix variable scope errors in ErrorAnalysisService
  azure-functions/main/Services/ErrorAnalysisService.cs
Due: test:dotnet:unit, lint:dotnet

Fix BlobDownloadResult mocking in unit tests
  tests/main.Core.Tests/Services/InterfaceConfigurationServiceTests.cs
Due: test:dotnet:unit, test:mutation

Add SCM polling to Jenkins pipeline
  Jenkinsfile
Due: none

Add GitHub Action to trigger Jenkins builds
  .github/workflows/JENKINS_TRIGGER_SETUP.md
  .github/workflows/trigger-jenkins.yml
Due: none

Remove SCM polling from Jenkins pipeline
  Jenkinsfile
Due: none

Fix Jenkins trigger action to handle missing secrets gracefully
  .github/workflows/trigger-jenkins.yml
Due: none

Disable automatic Jenkins trigger for local Jenkins setup
  .github/workflows/trigger-jenkins.yml
Due: none

Add SCM polling back to Jenkins - check every minute
  Jenkinsfile
Due: none

Make auto-merge non-fatal when GitHub token is missing
  jenkins/scripts/auto-merge.sh
Due: none

Critical: Require tests and manual approval before auto-merge
  Jenkinsfile
Due: none

Use GitHub token from Jenkins credentials for auto-merge
  Jenkinsfile
  jenkins/scripts/auto-merge.sh
Due: none

Remove changeset condition from Build Frontend stage
  Jenkinsfile
Due: none

Revert: Keep changeset condition for Build Frontend stage
  Jenkinsfile
Due: none

Fix JUnit test results collection in Jenkins
  Jenkinsfile
  jenkins/scripts/test-dotnet-unit.sh
Due: none

Optimize pipeline duration: parallel builds, caching, and shallow checkout
  .gitignore
  Jenkinsfile
  jenkins/scripts/build-frontend.sh
  jenkins/scripts/test-dotnet-unit.sh
Due: none

Fix: Remove CleanBeforeCheckout to avoid permission denied errors
  Jenkinsfile
Due: none

Fix all unit test failures (38 tests fixed)
  azure-functions/main/Services/ConfigurationValidationService.cs
  azure-functions/main/Services/ErrorAnalysisService.cs
  main.Core/Models/InterfaceConfiguration.cs
  main.Core/obj/Debug/net8.0/main.Core.AssemblyInfo.cs
  main.Core/obj/Debug/net8.0/main.Core.AssemblyInfoInputs.cache
  tests/main.Core.Tests/Adapters/SqlServerAdapterEdgeCasesTests.cs
  tests/main.Core.Tests/Functions/GetSqlDataTests.cs
  tests/main.Core.Tests/Functions/LoginTests.cs
  tests/main.Core.Tests/Functions/SourceAdapterFunctionTests.cs
  tests/main.Core.Tests/Middleware/CorsMiddlewareTests.cs
  tests/main.Core.Tests/Services/AIErrorAnalysisServiceTests.cs
  tests/main.Core.Tests/Services/CsvProcessingServicePerformanceTests.cs
  tests/main.Core.Tests/Services/ErrorAnalysisServiceTests.cs
  tests/main.Core.Tests/Services/InterfaceConfigurationServiceTests.cs
  tests/main.Core.Tests/Services/RetryServiceTests.cs
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfo.cs
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfoInputs.cache
Due: test:dotnet:unit, test:mutation, package:adapter-containers, lint:dotnet

Fix SourceAdapterFunctionTests.Run_WithMultipleConfigurations_ShouldProcessAll to use Sources dictionary
  tests/main.Core.Tests/Functions/SourceAdapterFunctionTests.cs
Due: test:dotnet:unit, test:mutation

Fix ServiceBusLockRenewalServiceTests compilation error - remove ServiceBusReceiver mock that requires unavailable using
  tests/main.Core.Tests/Services/ServiceBusLockRenewalServiceTests.cs
Due: test:dotnet:unit, test:mutation

Fix CS1998 warnings: Remove async keyword from test methods that don't await
  tests/main.Core.Tests/Functions/GetSqlDataTests.cs
  tests/main.Core.Tests/Functions/LoginTests.cs
  tests/main.Core.Tests/Functions/SourceAdapterFunctionTests.cs
  tests/main.Core.Tests/Middleware/CorsMiddlewareTests.cs
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfo.cs
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfoInputs.cache
Due: test:dotnet:unit, test:mutation

Remove manual approval step - auto-merge ready/* to main when tests pass
  Jenkinsfile
Due: none

Add deployment stages for Azure Static Web App and ACR adapter images
  Jenkinsfile
  jenkins/scripts/build-and-push-adapter-images.sh
  jenkins/scripts/deploy-static-web-app.sh
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfo.cs
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfoInputs.cache
Due: test:dotnet:unit, test:mutation

Add Terraform deployment stage for infrastructure changes
  Jenkinsfile
  jenkins/scripts/terraform-apply.sh
Due: none

Add integration tests and E2E tests to pipeline
  Jenkinsfile
  jenkins/scripts/test-dotnet-integration.sh
  jenkins/scripts/test-e2e.sh
Due: none

Add all required credentials to Jenkins configuration including GitHub tokens for commit status
  jenkins/jenkins.yml
Due: none

Add GitHub plugin to Jenkins for commit status support
  jenkins/Dockerfile
Due: none

Add troubleshooting guide for GitHub commit status 403 error
  jenkins/FIX_GITHUB_COMMIT_STATUS.md
Due: none

Add FORCE_ALL_STAGES flag to test all pipeline stages and trigger terraform change detection
  Jenkinsfile
Due: none

Enable FORCE_ALL_STAGES to test complete pipeline including all deployment stages
  Jenkinsfile
Due: none

Clean up FORCE_ALL_STAGES comment
  Jenkinsfile
Due: none

Fix ServiceBusLockRenewalServiceTests.ExecuteAsync_ShouldRenewLocks timing issue - avoid canceling token during StartAsync
  tests/main.Core.Tests/Services/ServiceBusLockRenewalServiceTests.cs
Due: test:dotnet:unit, test:mutation

Fix integration tests: Add all required Azure credentials (Storage, Service Bus, SQL Server)
  Jenkinsfile
  jenkins/jenkins.yml
  jenkins/scripts/test-dotnet-integration.sh
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfo.cs
  tests/main.Core.Tests/obj/Debug/net8.0/main.Core.Tests.AssemblyInfoInputs.cache
Due: test:dotnet:unit, test:mutation

Trigger pipeline: All Azure credentials configured for integration tests
  Jenkinsfile
Due: none
